//- price-table

mixin price-table()
  .price-table
    table
      thead
        tr
          td(rowspan=2).is-sep <span>Длина гиба (мм)</span><span>Толщина листа</span>
          td(colspan=7) Цена за гиб (заказ от 100 гибов)
        tr
          td 1 мм
          td 2 мм
          td 3 мм
          td 4 мм
          td 5 мм
          td 5.5 мм
          td 6 мм

      tbody
        tr
          td 100
          td 10 ₽
          td 10 ₽
          td 10 ₽
          td 12 ₽
          td 12 ₽
          td 12 ₽
          td 13 ₽
        tr
          td 200
          td 12 ₽
          td 12 ₽
          td 12 ₽
          td 14 ₽
          td 14 ₽
          td 14 ₽
          td 16 ₽
        tr
          td 500
          td 12 ₽
          td 12 ₽
          td 12 ₽
          td 14 ₽
          td 14 ₽
          td 14 ₽
          td 16 ₽
