//- password-field

include /components/input/input

mixin password-field()
  .password-field.js-password-field
    .password-field__input
      +input()&attributes(attributes).js-password-field-input
    button.password-field__toggle.js-password-field-toggle(
      type='button'
    )
