//- example

mixin example({ number, title, image })
  .example
    .example__header(
      data-number=number
    )
      h4.example__title=title
    .example__cover
      img.example__image(
        src=image
        alt
      )
