/**
* header
*/

.header {
  $this: &;

  background-color: $white;
  border-bottom: 1px solid $linegrey;

  &.is-transparent {
    background-color: transparent;
    border: none;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 27px 0 25px;
    position: relative;
    z-index: $layer-1;
  }

  &__logo {
  }

  &__nav {
    flex-grow: 1;
  }

  &__phone {
  }

  &__button {
    margin-left: 30px;
  }
}
