//- opinion

mixin opinion(options = {})
  article.opinion
    figure.opinion__cover
      img.opinion__image(
        src="/img/person.jpg"
        alt="Дмитрий Соляник"
      )
    .opinion__body
      p.opinion__text Самая трудоёмкая часть производства на заказ - создание оснастки (формы). Необходимо точно сделать компьютерный расчет формы, а затем выполнить ее в материале. Стоимость изготовления уникальной оснастки от 100 000 руб. Затем переходим к серийной штамповке.
      header.opinion__header
        h3.opinion__name Дмитрий Соляник
        p.opinion__position Руководитель цеха штамповки
