@mixin is-bordered {
  $this: &;

  &.is-bordered {
    padding-top: 15px;
    padding-bottom: 14px;
    background-color: transparent;
    border: 1px solid $accent;
    color: $black;
    will-change: color;
    transition: ease background-color 300ms, ease color 300ms;

    &:hover {
      background-color: $accent;
      color: $white;
    }
  }
}
