@mixin is-grey {
  $this: &;

  &.is-grey {
    background-color: transparent !important;
    border: 1px solid $linegrey;
    color: $softgrey;
    transition: ease border-color 300ms, ease color 300ms;

    &:hover {
      border-color: $accent;
      color: $accent;
    }

    &:active {
      border-color: lighten($accent, 10);
      color: lighten($accent, 10);
    }
  }
}
