/**
* accordion
*/

.accordion {
  $this: &;
  &.disabled {
    pointer-events: none;
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    position: relative;
    padding: 20px 0;

    &:first-child {
      padding-top: 0;
    }

    & + & {
      &::before {
        content: "";
        display: block;
        width: calc(100% - 70px);
        height: 1px;
        position: absolute;
        left: 70px;
        top: 0;
        background-color: $linegrey;
      }
    }
  }
}
